{extends file='layout.html'}
{block name=content}
<div class="table-responsive">
    <table class="table table-bordered mb-0">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">管理员</th>
            <th scope="col">时间</th>
            <th scope="col">IP</th>
            <th scope="col">状态</th>
            <th scope="col">浏览器</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list['data'] as $item}
        <tr>
            <th scope="row">{$item['id']}</th>
            <th>{$item['admin_name']}</th>
            <td>{$item['create_time']}</td>
            <td>{$item['ip']}</td>
            <td>{if $item['status'] == 1}成功{else}失败{/if}</td>
            <td>{$item['user_agent']}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
{include file='page.html'}
{/block}