{extends file='layout.html'}
{block name=content}
<div class="d-flex flex-column justify-content-center align-items-start">
    <figure class="figure">
        <span class="font-100 text-info">
            {if !empty($smartyAdmin['avatar'])}
                 <img class="img-fluid" src="{$smartyAdmin['avatar']}" alt="{$smartyAdmin['name']}">
            {else}
                <i class="fas fa-user-circle"></i>
            {/if}
        </span>
        <figcaption class="figure-caption text-center">{$smartyAdmin['name']}</figcaption>
    </figure>
    <div class="d-block text-secondary">
        <b>ID：</b>{$smartyAdmin['id']}
    </div>
    <div class="d-block text-secondary mt-2">
        <b>性别：</b>{if $smartyAdmin['gender'] == 0}未知{elseif $smartyAdmin['gender'] == 1}男{else}女{/if}
    </div>
    <div class="d-block text-secondary mt-2">
        <b>所属组：</b>{$groupName}
    </div>
    <div class="d-block text-secondary mt-2">
        <b>创建时间：</b>{$smartyAdmin['create_time']}
    </div>
    <div class="d-block text-secondary mt-2">
        <b>更新时间：</b>{$smartyAdmin['update_time']}
    </div>
    <div class="d-block text-secondary mt-2">
        <a href="{url}/admin/update_profile" class="btn-link">更新资料</a>
    </div>
</div>
{/block}