<!DOCTYPE html>{config_load file="templet.conf"}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{url}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{url}/css/fontawesome.min.css" rel="stylesheet">
    <link href="{url}/css/solid.min.css" rel="stylesheet">
    <link href="{url}/css/smartyadmin.min.css" rel="stylesheet">
    <title>{block name=title}{if !empty($authName)}{$authName}-{/if}{/block}{#title#}</title>
</head>
<body>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2 side p-0">
            <div class="side-head">
                <h5 class="m-0">{#title#}</h5>
            </div>
            <div class="side-body">
                <ul class="list-group list-group-flush">
                    {foreach $smartyMenu as $menu}
                    {if !empty($menu['children'])}
                    <li class="list-group-item">
                        <a data-bs-toggle="collapse" href="javascript:void(0);" data-bs-target="#child{$menu['id']}" {if
                           !$menu['expanded']}class="collapsed" aria-expanded="false"{else}aria-expanded="true"{/if}
                        aria-controls="child{$menu['id']}">
                        <i class="{$menu['icon']}"></i><span>{$menu['name']}</span>
                        <span class="pull-right-container">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                        </a>
                        <ul class="list-group list-group-flush child-ul collapse {if $menu['expanded']}show{/if}"
                            id="child{$menu['id']}">
                            {foreach $menu['children'] as $childMenu}
                            <li class="list-group-item {if $menu['active']}active{/if}">
                                <a href="{$childMenu['url']}">
                                    <i class="{$childMenu['icon']}"></i><span>{$childMenu['name']}</span>
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </li>
                    {else}
                    <li class="list-group-item {if $menu['active']}active{/if}">
                        <a href="{$menu['url']}">
                            <i class="{$menu['icon']}"></i><span>{$menu['name']}</span>
                        </a>
                    </li>
                    {/if}
                    {/foreach}
                </ul>
            </div>
        </div>
        <div class="col-md-10 main p-0">
            <div class="main-head d-flex justify-content-between">
                <div class="d-inline-flex align-items-center">
                    <span class="ps-2 font-13"><i class="{$currentMenu['icon']} p-2"></i>{$currentMenu['name']}</span>
                </div>
                <div class="d-inline-flex">
                    <ul class="nav justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {if !empty($smartyAdmin['avatar'])}
                                <img class="img-fluid" src="{$smartyAdmin['avatar']}" alt="{$smartyAdmin['name']}">
                                {else}
                                <i class="fas fa-user-circle"></i>
                                {/if}
                                <span class="ps-2">{$smartyAdmin['name']}</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="profile.html"><i class="fas fa-user-circle me-2"></i>个人资料</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{url}/login"><i class="fas fa-sign-out-alt me-2"></i>退出</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-body mt-2">
                {block name=content}{/block}
            </div>
        </div>
    </div>
</div>
<script src="{url}/js/popper.min.js"></script>
<script src="{url}/js/bootstrap.min.js"></script>
</body>
</html>